*{
    margin: 0;
    padding: 0;
}
.smile{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    bottom: 50px;
    left: 150px;
}
.container{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgb(192, 226, 43);
    position: relative;
    margin: 20px auto;
}

.block2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 200px; 
}
.block3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 500px;
}
.block4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white ;
    position: absolute;
    top: 360px;
    left: 350px;
}
.block5{
    width: 400px;
    height: 50px;
    background-color:white;
    position: absolute;
    bottom:  150px;
    left: 200px;
}
/* .block1{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0; 
} */