* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
menu {
    background: gold;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    position: sticky;
    top: 0;
}
a {
    text-decoration: none;
}